*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Additional ignores
.artifacts/
.tmp/
caches/
daemon/
jdks/
kotlin-profile/
native/
*.hprof
.kotlin/

# iOS ignores
iosApp/Pods/
iosApp/Podfile.lock
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/iosApp.xcworkspace/UserInterfaceState.xcuserstate
derivedData/

# Signing
signing_report.txt
